*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

header {
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

body {
  align-items: center;
  background: #050505;
  color: #dedede;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  margin: 0;
}

.elevation {
  box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.14),
    0 1px 5px 0 rgba(255, 255, 255, 0.12);
}

.card {
  background: #121212;
  border-radius: 4px;
  padding: 16px;
}

.canvas {
  border-radius: 4px;
  background: #000;
  height: 140px;
  width: 140px;
}

.button {
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.14),
    0 1px 5px 0 rgba(255, 255, 255, 0.12), inset 0 0 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 36px;
  margin: 16px 0;
  text-align: center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  width: 140px;
}

.button:hover {
  background: #0a0a0a;
}

.button:active {
  box-shadow: 0 0 rgba(255, 255, 255, 0.2), 0 0 rgba(255, 255, 255, 0.14),
    0 0 rgba(255, 255, 255, 0.12), inset 0 0 2px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.05s cubic-bezier(0.4, 0, 0.2, 1);
}

.predictions {
  display: flex;
}

.prediction-col {
  padding: 0 2px;
}

.prediction-bar-container {
  background: #0a0a0a;
  height: 140px;
  width: 10px;
  position: relative;
}

.prediction-bar {
  background: #1f1f1f;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.prediction-number {
  color: #424242;
  font-size: 14px;
  text-align: center;
}

.top-prediction .prediction-bar {
  background: #00b894;
}

.top-prediction .prediction-number {
  color: #00b894;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 10px; /* Slightly above the bottom */
  left: 50%;
  transform: translateX(-50%); /* Centers the footer horizontally */
  padding: 10px;
}

footer a {
  color: white;
  font-size: 16px; /* Larger icon size */
  text-decoration: none;
}

footer i {
  font-size: 20px;
  }

footer a:hover {
  opacity: 0.8; /* Slight fade on hover */
}
